body{
    background-image: url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
    background-color:#FAFAD2;
    color:white
}

.title{
   position:fixed;
   width:150px;
   height:150px;
   border-radius:5px;
}
 .box{
    position:fixed;
    width:75%;
    max-width:75%;
    height:20%;
    max-height:20%;
    margin: 1% 1%;
    background:rgba(0,0,0,0.5);
    border-radius:3%;
}

.TitleData{
    position:absolute;
    left:200px;
    width:300px;
    max-width:300px;
    height:150px;
    max-height:150px;
    color:white;
    font-size:15px;
    line-height:15px;
}

.MainData{
    position:absolute;
    left:550px;
    color:white;
    font-size:15px;
    line-height:15px;
}

.CajaPedido{
   position:fixed;
   width:75%;
   max-width:75%;
   height:70%;
   max-height:70%;
   margin: 12% 1%;
   background:rgba(0,0,0,0.5);
   border-radius:3%;
   overflow-y: scroll;
}

.Cajitas{
    float:left;
    left:50px;
    background:rgba(0,0,0,0.5);
    width:300px;
    max-width:300px;
    height:350px;
    max-height:350px;
    color:white;
    font-size:15px;
    line-height:15px;
    border-radius:5px;
}

.Separador{
float:left;
    left:50px;
    width:70px;
    max-width:70px;
    height:350px;
    max-height:350px;
    color:white;
    font-size:15px;
    line-height:15px;
    border-radius:5px;
}

.ImgOption{
    position:relative;
       width:170px;
       height:170px;
       border-radius:50%;
       margin: auto;
       display:block;
}

.carrito{
    position:fixed;
    width:20%;
    max=width:20%;
    height:50%;
    max-height:50%;
    margin: 1% 78%;
    background:rgba(0,0,0,0.5);
    border-radius:3%;
    border: 2px solid white;
}
.Aceptar{
position:fixed;
width:20%;
height=20&;
margin: 1% 78%;
bottom:50px;
}

.MiPedido{
    position:relative;
    left:10px;
    background:rgba(0,0,0,0.5);
    width:285px;
    max-width:285px;
    height:250px;
    max-height:250px;
    color:white;
    font-size:15px;
    line-height:15px;
    border-radius:5px;
}

.Total{
   position:relative;
       left:10px;
}

h1, h2{
    text-align:center;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.data{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #c61114;
    color: white;
    padding: 14px 20px;
    margin: 8px 10%;
    border: none;
    cursor: pointer;
    width: 80%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

.Op{
    color:white;
    font-size:15px;
    font-weight:bold;
    text-align:center;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 6%;
}

a{
    background-color: #c61114; /* Red */
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: right;
}

a:hover{
    opacity: 0.8;
}