<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de pedidos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        h2{
        color: white;
        }
    </style>

</head>

<body th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">


<div class="container">
    <h2>Restaurantes Disponibles</h2>
<div class="list-group" th:each="empresa : ${empresas}" align="center">
    <a class="list-group-item" th:href="${'/pedido/'+ empresa.idEmpresa}">
        <h4 class="list-group-item-heading" th:text="${empresa.nombre}"/>
        <img class="info" th:src="${empresa.image}" alt="Paris" width="150" height="150" />
        <p class="list-group-item-text" th:text="${empresa.descripcion}"/>
    </a>
</div>
</div>

</body>
</html>