<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head lang="en">

    <title>Pedidos</title>
    <link href="../static/css/pedidoView.css" th:href="@{/css/pedidoView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="carrito">
    <h2>Mi carrito</h2>
    <div class="MiPedido">
        <div th:each="op: ${pedido.opcion_pedidos}">
            <div class="Data"><label th:text="${op.option.name+' (x'+op.cantidad+')'}"></label></div>
            <div class="Data"><label th:text="${op.option.price }"></label></div>
        </div>
    </div>
    <div class="Total"><label th:text="${'Total: '+pedido.precio}"></label></div>
</div>

<div class="box">
    <img class="title" th:src="${empresa.image}" />
    <div class="TitleData">
        <p th:text="${empresa.nombre}">Titulo</p>
        <p th:text="${empresa.descripcion}"></p>
    </div>
    <div class="MainData">
        <p th:text="${'Calificacion: ' + empresa.calificacion}"></p>
        <p th:text="${'Telefono: ' + empresa.telefono}"></p>
        <p th:text="${'Direccion del restaurante: ' + empresa.direccion}"></p>
    </div>
</div>
<div class="CajaPedido">
    <h2>Menu</h2>
    <div th:each="op : ${empresa.options}">
        <div class="Separador"></div>
        <div class="Cajitas">
            <form th:object="${top}" th:action="@{/cargar}" method="post">
                <p class="Op" th:text="${op.name}">Hola</p>
                <img class="ImgOption" th:src="${op.image}" src="http://librosweb.es/img/css/f0509.gif"/>
                <p class="Op" th:text="${op.price + 'Bs'}">Bola</p>
                <input type="hidden" name="OptionId"  th:value="${op.id}"/>
                <input type="hidden" name="empresa"  th:value="${empresa.idEmpresa}"/>
                <input type="hidden" name="pedidoId"  th:value="${pedido.id}"/>
                <div>
                    <button type="submit">Agregar</button>
                </div>

            </form>
        </div>

    </div>

</div>
<div class="Aceptar">
    <form th:action="@{/datos}">
        <button type="submit" class="btn btn-default">Aceptar</button>
    </form>
</div>
</body>
</html>